#page-wrapper {
	width: 960px;
	margin: 0 auto; 	
}

body {
	background-color:#043959 ;
}
nav {
  background-color: #777;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 20px 40px;
  front-size: 20px;
  color: #043959;
  text-decoration: none;
  front-weight: bold;
  text-transform: uppercase;
  front-family: Aprial, sane-serif;
  text-align: center;
}

nav ul li a:hover {
  background-color: #ccc;
  color: #000;
}

#name {
  display: block;
  border: 5px solid;
  
}

#Objective, #Activities { 
  float: left;
  width: 60%;
  margin:  5%;
  outline: 2px solid #0053ae
 

}
#Education, #Skills, #Hobbies{ 
  float: left;
  width: 25%;
  margin:  5% 0 0;
  outline: 2px solid #dd0009;
   
}


