nav {
  background-color: #777;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 20px;
  front-size: 20px;
  color: #043959;
  text-decoration: none;
  front-weight: bold;
  text-transform: uppercase;
  front-family: Aprial, sane-serif;
  text-align: center;
}
