nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: fixed;
  background-color: #2e2e2e;
}

nav ul li {
  float: left;
  width: 33%;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 40px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'courier new', courier;
}

nav a:hover {
  transition: all 0.5s;
  color: #2ecc71;
  text-decoration: wavy underline;
  text-underline-offset: 5px;
  text-decoration-color: #2ecc71;
}
